<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.htgames.nutspoker">

    <!-- 权限声明 -->
    <!-- 显示顶层浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <!-- <uses-permission android:nameId="android.permission.BLUETOOTH" /> -->
    <!-- <uses-permission android:nameId="android.permission.BLUETOOTH_ADMIN" /> -->
    <!-- <uses-permission android:nameId="android.permission.MODIFY_AUDIO_SETTINGS" /> -->

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 锁屏控制权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- SDK权限申明, 第三方APP接入时，请将com.netease.nim.demo替换为自己的包名 -->
    <!-- 和下面的uses-permission一起加入到你的AndroidManifest文件中。 -->
    <permission
        android:name="com.htgames.nutspoker.ui.helper.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <!-- 接收SDK消息广播权限， 第三方APP接入时，请将com.netease.nim.demo替换为自己的包名 -->
    <uses-permission android:name="com.htgames.nutspoker.permission.RECEIVE_MSG"/>
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 阿里云OSS -->
    <!-- 谷歌支付 -->
    <uses-permission android:name="com.android.vending.BILLING"/>

    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <!-- <uses-sdk android:targetSdkVersion="22" android:minSdkVersion="14" -->
    <!-- tools:overrideLibrary="com.facebook"/> -->
    <application
        android:name="com.htgames.nutspoker.ChessApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 云信配置测试 -->
        <!-- 这里由gradle配置 -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="${YXIN_KEY_VALUE}"/>

        <!-- Tell Cocos2dxActivity the nameId of our .so -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos2dlua"/>

        <!-- 德州扑克游戏版本号 -->
        <meta-data
            android:name="com.htgames.nutspoker.gameVersion"
            android:value="${THE_GAME_VERSION}"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}"/>

        <!-- Umeng 渠道id ,使用Maven打包时会用具体的渠道号替换掉${channel}    UmengConfig.java用到这个值 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}"/>

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}" />
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>
        <service android:name=".push.DemoIntentService"/>
        <receiver android:name="com.igexin.sdk.PushReceiver" >
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:exported="true"
            android:authorities="downloads.${applicationId}"
            android:process=":pushservice" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 个推SDK配置结束 -->

        <activity
            android:name="com.htgames.nutspoker.ui.activity.System.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Base.Welcome"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.htgames.nutspoker"
                    android:pathPrefix="/launcher"
                    android:scheme="everpoker" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.htgames.nutspoker.cocos2d.PokerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent.Game"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/login" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/mainactivity" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Login.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Login.ForgetPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Login.SetPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.region.activity.CountrySelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Login.AuthcodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.System.FriendGuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Record.StatisticsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Game.GameCreateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Game.AnteTableAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.System.GuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Hands.PaipuCollectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Hands.PaipuRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.System.ShopActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.circle.activity.CircleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.circle.activity.PublishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Record.RecordListAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Record.RecordSearchAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Record.DataAnalysisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Record.RecordDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Record.RecordDetailsInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoneTranslucent.FullScreen"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- 战绩牌局详情右上角"管理员"点击落地页 是指房主的管理员列表-->
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Record.ChannelListOffAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/recordDetailMgrLsit" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <!-- 战绩牌局详情"我的管理"点击落地页 是指房主或者某个管理员具体管理的报名玩家-->
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Record.UserByChannelOffAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/recordDetailMyMgr" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <!-- 点击头像显示大图-->
        <activity
            android:name="com.netease.nim.uikit.uinfo.WatchPicAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/watchPicAc" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.System.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".game.match.activity.FreeRoomAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".game.match.activity.ChannelListAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.System.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/webview" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.htgames.nutspoker.game.match.activity.MatchRoomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.htgames.nutspoker.game.match.activity.EditMatchStateAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.htgames.nutspoker.game.match.activity.PickImageAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact.activity.EditUserInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact.activity.EditUserItemActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact.activity.AddFriendActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact.activity.UserProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact.activity.UserProfileAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.Club.ToInviteClubUserProfileAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact.activity.SearchUserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact.activity.FriendsListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.main.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustUnspecified"/>
        <activity
            android:name="com.htgames.nutspoker.chat.app_msg.activity.AppMsgControlAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/app_msg_control" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.htgames.nutspoker.chat.app_msg.activity.AppMsgInfoAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.msg.activity.MessageVerifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- 俱乐部验证消息 -->
        <activity
            android:name="com.htgames.nutspoker.chat.msg.activity.MessageVerifyAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/clubMessageVerify" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.htgames.nutspoker.chat.main.activity.AddVerifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact_selector.activity.RecentContactSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.Club.SelectClubMgrACNew"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact.activity.PhoneContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.GroupListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.GroupEditNameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.fund.ClubFundAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.fund.FundRechargeAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.fund.FundGrantAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.fund.FundGrantMemberAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.fund.FundParticularsAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.credit.CreditListAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.credit.CreditLogAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.credit.CreditGrantAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.horde.HordeAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.horde.HordeHallAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.horde.HordeCreateAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.horde.HordeJoinAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.horde.HordeDetailAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.horde.HordeUpperLimitAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.horde.SetHordeUpperLimitAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubMemberLimitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubRejectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.EditClubItemActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubCreateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubAreaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubJoinActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubMemberACNew"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.ClubSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.Integral.ClubIntegralActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.Integral.ClubIntegralDistributionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.Integral.ClubIntegralParticularsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.region.activity.RegionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.session.activity.MessageInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.GroupInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.htgames.nutspoker.chat.contact_selector.activity.ContactSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <!-- android:windowSoftInputMode="stateHidden|adjustPan" -->
        <activity
            android:name="com.htgames.nutspoker.chat.session.activity.TeamMessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.htgames.nutspoker.chat.session.activity.TeamMessageAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.htgames.nutspoker.chat.session.activity.P2PMessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".game.match.activity.AddChannelAC"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- mtt大厅右上角"我的管理"点击落地页 -->
        <activity
            android:name=".game.match.activity.UserByChannelAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/mttMyMgr" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <!-- sng盲注结构表页面 -->
        <activity
            android:name=".ui.activity.Game.SngBlindAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/sngBlindStructure" android:scheme="everpoker"/>
            </intent-filter>
        </activity>
        <!-- mtt盲注结构表页面 mttBlindStructure-->
        <activity
            android:name=".ui.activity.Game.MttBlindStructureAC"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.htgames.nutspoker" android:pathPrefix="/goto/mttBlindStructure" android:scheme="everpoker"/>
            </intent-filter>
        </activity>


        <!-- 会话窗口 -->
        <!--
             UI组件中包含了语音选文字功能，该界面是全屏显示，为了视觉上的美观，该界面主题ActionBar使用Overlay模式。
             如果开发者不需要该功能或效果，使用普通主题即可。 同时，还需要将message_activity.xml这个layout中的根节点的paddingTop去掉。
        -->
        <!-- <activity -->
        <!-- android:nameId="com.netease.nim.uikit.session.activity.P2PMessageActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustResize" /> -->
        <!-- <activity -->
        <!-- 联系人选择器 -->
        <!-- <activity -->
        <!-- android:nameId="com.netease.nim.uikit.contact_selector.activity.ContactSelectActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustPan" /> -->
        <!-- 照片选择 -->
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"/>
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"/>
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickerAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"/>
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickerAlbumPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"/>
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PreviewImageFromLocalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PreviewImageFromCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/input_panel_take"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- 查看大图 -->
        <activity
            android:name="com.netease.nim.uikit.session.activity.WatchMessagePictureActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/AppTheme.ActionBar"/>
        <!--微信的如果不写在root包下面，将拿不到回调-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <service
            android:name="com.htgames.nutspoker.hotupdate.service.DownloadService"
            android:enabled="true"
            android:exported="false"
            android:process=":DownloadService"/>

        <service
            android:name="com.htgames.nutspoker.hotupdate.service.DownloadAppService"
            android:enabled="true"
            android:exported="false"/>

        <!-- NimService组件。 如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"/>
        <!-- 运行后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core"/>

        <!-- 状态监听Receiver，保持和NimService同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.UMDefault"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <!-- 微信和微信朋友圈的回调 -->
        <activity
            android:name="com.htgames.nutspoker.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 版本下载 -->
        <receiver android:name="com.htgames.nutspoker.receiver.DownloadReceiver">
            <intent-filter android:priority="80000">
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="${applicationId}.version"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="fb142423116161871"/>
        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name"/>
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="xxxxxxxxxxxxxxx" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            tools:replace="android:theme"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.htgames.nutspoker.ui.activity.Login.ChangePwd1Activity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.htgames.nutspoker.ui.activity.Club.ClubApplyDetail"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.htgames.nutspoker.ui.activity.Club.ManagerClubActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.htgames.nutspoker.ui.activity.Club.ManagerSetActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.htgames.nutspoker.ui.activity.Club.ClubAddMgrGuide"
            android:screenOrientation="portrait"/>
        <activity android:name="com.htgames.nutspoker.ui.activity.Record.RecordMatchActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.htgames.nutspoker.ui.activity.Record.RecordNormalActivity"
                  android:screenOrientation="portrait"/>
        <activity
            android:name="com.htgames.nutspoker.ui.activity.Club.Integral.ClubIntegralOperation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.htgames.nutspoker.ui.activity.Club.Integral.MemberIntegralList"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.htgames.nutspoker.ui.activity.Club.Integral.MyIntegralActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.htgames.nutspoker.ui.activity.Club.Integral.MemberDetailActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".chat.main.activity.AddClubMember"/>
    </application>

</manifest>